#admin {
    #all-users-area {
        margin-left: 10px;
        margin-right: 10px;
        margin-top: -40px;

        #icon-button-container {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            align-items: center;

            #icon-area {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                margin-left: 10px;
                margin-bottom: 10px;
    
                width: 100px;
                border-radius: 5px;
                border-style: solid;
                border: 1px solid lightgrey;
    
                p {
                    margin-left: 10px;
                    margin-top: 8px;
                    margin-bottom: 8px;
                }
            }
        }

       

        #icon-area:hover {
            background-color: lightgrey;
            border-color: lightgrey;
            cursor: pointer;
        }

        table {
            border-collapse: collapse;
            width: 100%;
          }
          
          td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
          }

          td {
              font-family: "Avenir Medium";

              input {
                    width: calc(100% - 20px);
                    padding: 5px;
                    border-radius: 5px;
                    border-style: solid;
                    border: 1px solid lightgrey;
              }
          }

          tr:nth-child(even) {
            background-color: #dddddd;
          }
    }
}