#sign-in-container {
    h3 {
        margin-bottom: 20px;
    }

    #signup-link {
        font-family: "Avenir-Medium";
        margin-top: -10px;
        margin-bottom: 25px;
        font-style: italic;

        a {
            color: black;
        }

        a:hover {
            color: #6bc3e3;
            font-family: "Avenir-Heavy";
        }
    }

    input {
        width: 200px;
        padding: 10px;
        border-radius: 5px;
        border-style: solid;
        border: 1px solid lightgrey;
    }

    input:focus {
        outline: 0;
        background-color: lightgrey;
    }

    .button {
        margin-top: 30px;
    }
}