#home {
    #chartdiv {
        width: calc(100vw - 50px);
        min-height: 500px;
        height: calc(100vh - 250px);
        margin-top: 30px;
    }
    // #countrygraph {
    //     width: 100px;
    //     min-height: 500px;
    //     height: 100px;
    //     margin-top: 200px;
    // }

    #state {
        margin-top: 50px;

        #statechartdiv {
            margin-top: 35px;
            width: 250px;
        }
    }
}